body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: $font;
  font-size: $fontsize;
  line-height: $lineheight;
  font-weight: 300;
  color: $text;
  background: #fff;
}
a {
  outline: none !important;
  text-decoration: none;
}
