h2 {
  margin-bottom: 40px;
  font-family: $fontTitles;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
}
h3 {
  margin: 10px 0;
  font-size: 34px;
  line-height: 42px;
  font-weight: normal;
  text-align: center;
}
