//GRID
$maxwidth:                              1080px;
$gutter:                                30px;
$md:                                    768px;
$sm:                                    544px;

//COLORS
$text:                                  #8a8c8e;
$greenPale:                             #a4cc39;

//FONT
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Philosopher');

$font:                                  'Open Sans', sans-serif;
$fontTitles:                            'Philosopher', sans-serif;
$fontsize:                              16px;
$lineheight:                            19px;
